@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?rdh49w");
  src: url("../fonts/icomoon.eot?rdh49w#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?rdh49w") format("truetype"), url("../fonts/icomoon.woff?rdh49w") format("woff"), url("../fonts/icomoon.svg?rdh49w#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scroll:before {
  content: "";
}

.icon-Shape-2:before {
  content: "";
}

.icon-Shape-3:before {
  content: "";
}

.icon-Shape-4:before {
  content: "";
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #3c3c3c;
  text-align: center;
}

.header {
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header__container {
  width: 31.25%;
  margin: 0 auto;
  padding-top: 285px;
  padding-bottom: 115px;
}
.header__title {
  margin-top: 94px;
  margin-bottom: 54px;
}
.header__text {
  margin-bottom: 245px;
}

.title {
  font-size: 34px;
  color: #3c3c3c;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 0.16em;
}
.title--main {
  font-size: 54px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 65px;
  letter-spacing: 0.16em;
}
.title--sub {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 4px;
}

.text {
  font-size: 16px;
  font-weight: 300;
  color: #3c3c3c;
  line-height: 1.5;
}
.text--main {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 0.06em;
  color: #fff;
}

.title--white,
.text--white {
  color: #fff;
}

.wrapper {
  width: 46.875%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  border-bottom: 2px solid #3c3c3c;
}
.wrapper::after {
  content: "";
  height: 2px;
  width: 26.6666666667%;
  background-color: #3c3c3c;
  position: absolute;
  top: 0;
  right: 0;
}
.wrapper::before {
  content: "";
  height: 2px;
  width: 26.6666666667%;
  background-color: #3c3c3c;
  position: absolute;
  top: 0;
  left: 0;
}

.about {
  padding-top: 160px;
  padding-bottom: 160px;
}
.about__text {
  padding-top: 75px;
}
.about__text--small {
  padding: 35px 70px 32px;
}

.section__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}
.section__text {
  width: 61.6666666667%;
}

.service {
  padding-top: 128px;
  padding-bottom: 109px;
  background: url(../img/services.jpg) center center no-repeat;
  background-size: cover;
}
.service__container {
  padding-top: 64px;
  padding-bottom: 33px;
}

.wrapper--white {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.wrapper--white::after, .wrapper--white::before {
  background-color: #fff;
}

.info {
  padding-top: 120px;
  padding-bottom: 115px;
}
.info__container {
  padding-top: 125px;
}
.info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
  color: #3c3c3c;
}
.info-content__title {
  margin-top: 42px;
  margin-bottom: 42px;
}

title .info-content__text {
  font-size: 14px;
  line-height: 1.9;
}

.gallery__article {
  position: relative;
  width: 100%;
}
.gallery img {
  width: 100%;
  height: 100%;
}

.gallery:hover .gallery__article:not(:hover) {
  opacity: 0.6;
}

.article__title {
  position: absolute;
  bottom: 16.6666666667%;
  left: 6.6666666667%;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.rows {
  display: flex;
  margin-bottom: 0.5208333333%;
}

.rows .gallery__article:nth-of-type(2n) {
  margin-right: 0.5208333333%;
  margin-left: 0.5208333333%;
  flex-shrink: 0.85;
}

.footer {
  padding-top: 135px;
}
.footer__container {
  padding-bottom: 50px;
}
.footer__text {
  padding-top: 75px;
  padding-bottom: 45px;
}
.footer__copy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 165px;
}
.footer__copy-text {
  font-size: 14px;
  color: #3c3c3c;
  line-height: 1.2;
  margin-left: 34px;
}

.button {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 2px;
  background-color: #3c3c3c;
  width: 44.4444444444%;
  height: 60px;
  border: none;
}
.button:hover {
  color: #3c3c3c;
  background-color: #fff;
  border: 1px solid #3c3c3c;
  cursor: pointer;
  transition: 0.2s;
}

.pen,
.screen,
.tablet {
  fill: #3c3c3c;
  fill-rule: evenodd;
}
.pen:hover,
.screen:hover,
.tablet:hover {
  cursor: pointer;
  fill: #565656;
  fill-rule: evenodd;
}

.cls-1,
.cls-2,
.cls-1--small,
.cls-2--small {
  fill: none;
  stroke-width: 2px;
}

.cls-1 {
  stroke: #fff;
}

.cls-1,
.cls-2,
.cls-3,
.cls-1--small,
.cls-2--small,
.cls-3--small {
  fill-rule: evenodd;
}

.cls-2 {
  stroke: #f6f7fc;
}

.cls-3,
.cls-4 {
  fill: #fff;
}

.cls-1--small,
.cls-2--small {
  stroke: #3c3c3c;
}

.cls-3--small,
.cls-4--small {
  fill: #3c3c3c;
}
/*# sourceMappingURL=style.css.map */