@import "fonts";
@import "colors";
@mixin before-after {
  content: "";
  height: 2px;
  width: 240px / 900px * 100%;
  background-color: #3c3c3c;
  position: absolute;
}
@mixin background {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $lato;
  color: $main-color;
  text-align: center;
}

.header {
  background-image: url(../img/hero-bg.jpg);
  @include background;

  &__container {
    width: 600px / 1920px * 100%;
    margin: 0 auto;
    padding-top: 285px;
    padding-bottom: 115px;
  }
  &__title {
    margin-top: 94px;
    margin-bottom: 54px;
  }
  &__text {
    margin-bottom: 245px;
  }
}

.title {
  font-size: $title;
  color: $main-color;
  font-weight: bold;
  text-transform: uppercase;
  line-height: $height-title;
  letter-spacing: 0.16em;

  &--main {
    font-size: $title-main;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: $height-title-main;
    letter-spacing: 0.16em;
  }
  &--sub {
    font-size: $title-sub;
    font-weight: bold;
    text-transform: uppercase;
    line-height: $height-title-sub;
    letter-spacing: 4px;
  }
}

.text {
  font-size: 16px;
  font-weight: 300;
  color: rgb(60, 60, 60);
  line-height: 26px;

  &--main {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 0.06em;
    color: #fff;
  }
}

.title--white,
.text--white {
  color: #fff;
}
.wrapper {
  width: 900px / 1920px * 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid $main-color;
  border-right: 2px solid $main-color;
  border-bottom: 2px solid $main-color;

  &::after {
    @include before-after();
    top: 0;
    right: 0;
  }

  &::before {
    @include before-after();
    top: 0;
    left: 0;
  }
}
.about {
  padding: 160px 0;

  &__text {
    width: 555px / 900px * 100%;
    padding-top: 75px;

    &--small {
      width: 490px / 900px * 100%;
      padding-bottom: 70px;
    }
  }
}

.section {
  &__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
  }
  &__text {
    width: 555px / 900px * 100%;
  }
}

.service {
  padding-top: 128px;
  padding-bottom: 109px;
  background: url(../img/services.jpg);
  @include background();

  &__container {
    padding-top: 64px;
    padding-bottom: 33px;
  }
}

.wrapper--white {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  &::after,
  &::before {
    background-color: #fff;
  }
}
.info {
  padding-top: 120px;
  padding-bottom: 115px;
  &__container {
    padding-top: 125px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
    color: rgb(60, 60, 60);
  }
  &-content__title {
    margin-top: 42px;
    margin-bottom: 42px;
  }
}
title .info-content__text {
  font-size: 14px;
  line-height: 1.9;
}

.gallery {
  &__article {
    position: relative;
    width: 100%;
  }
  & img {
    width: 100%;
    height: 100%;
  }
}

.gallery:hover .gallery__article:not(:hover) {
  opacity: 0.6;
}

.article__title {
  position: absolute;
  bottom: 40px / 240px * 100%;
  left: 40px / 600px * 100%;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.rows {
  display: flex;
  margin-bottom: 10px / 1920px * 100%;
}

.rows .gallery__article:nth-of-type(2n) {
  margin-right: 10px / 1920px * 100%;
  margin-left: 10px / 1920px * 100%;
  flex-shrink: 0.85;
}

.footer {
  padding-top: 135px;

  &__container {
    padding-bottom: 50px;
  }
  &__text {
    padding-top: 75px;
    padding-bottom: 45px;
  }
  &__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 165px;

    &-text {
      font-size: 14px;
      color: rgb(60, 60, 60);
      line-height: 1.2;
      margin-left: 34px / 1000px * 100%;
    }
  }
}

.button {
  font-size: $text;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 2px;
  background-color: $main-color;
  width: 400px / 900px * 100%;
  height: 60px;
  border: none;

  &:hover {
    color: $main-color;
    background-color: #fff;
    border: 1px solid $main-color;
    cursor: pointer;
    transition: 0.2s;
  }
}
.pen,
.screen,
.tablet {
  fill: $main-color;
  fill-rule: evenodd;
  &:hover {
    cursor: pointer;
    fill: lighten($color: $main-color, $amount: 10%);
    fill-rule: evenodd;
  }
}
.cls-1,
.cls-2,
.cls-1--small,
.cls-2--small {
  fill: none;
  stroke-width: 2px;
}

.cls-1 {
  stroke: #fff;
}

.cls-1,
.cls-2,
.cls-3,
.cls-1--small,
.cls-2--small,
.cls-3--small {
  fill-rule: evenodd;
}

.cls-2 {
  stroke: #f6f7fc;
}

.cls-3,
.cls-4 {
  fill: #fff;
}

.cls-1--small,
.cls-2--small {
  stroke: #3c3c3c;
}

.cls-3--small,
.cls-4--small {
  fill: #3c3c3c;
}

@media (max-width: 1399.98px) {
  .header__container {
    width: 800px / 1920px * 100%;
  }
  .wrapper::after,
  .wrapper::before {
    width: 220px / 900px * 100%;
  }
}

@media (max-width: 1199.98px) {
  .header {
    &__container {
      padding-top: 150px;
      padding-bottom: 80px;
    }
  }
  .wrapper {
    width: 1200px / 1920px * 100%;
    &::after,
    &::before {
      width: 210px / 900px * 100%;
    }
  }
  .about {
    padding: 100px 0;
    &__text {
      padding-top: 70px;

      &--small {
        padding-top: 20px;
        padding-bottom: 50px;
      }
    }
  }
  .section__text {
    width: 650px / 900px * 100%;
  }
  .title {
    font-size: $title - 5px;
  }
}

@media (max-width: 991.98px) {
  .header {
    &__container {
      width: 1000px / 1920px * 100%;
      padding-top: 120px;
    }
    &__text {
      margin-bottom: 50px;
    }
    &__scroll {
      display: none;
    }
  }
  .title {
    font-size: $title - 8px;

    line-height: $height-title-main - 4px;

    &--main {
      font-size: $title-main - 8px;
      line-height: $height-title-main - 4px;
    }
    &--sub {
      font-size: $title-sub - 2px;
      line-height: $height-title-sub - 2px;
    }
  }
  .text {
    font-size: $text-main - 2px;
    line-height: $height-text - 2px;
    &--main {
      font-size: $text-main - 2px;
      line-height: $height-text - 2px;
    }
  }
  .section {
    &__title {
      top: -30px;
    }
  }
  .about {
    padding: 100px 0;
    &__text {
      padding-top: 50px;

      &--small {
        width: 555px / 900px * 100%;
        padding-top: 10px;
        padding-bottom: 40px;
      }
    }
  }
  .service {
    padding: 70px 0;
  }
  .info {
    padding: 80px 0;

    &__container {
      padding-top: 50px;
    }
    &__content {
      margin-bottom: 50px;
    }
  }
  .footer {
    padding-top: 90px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    width: 1200px / 1920px * 100%;
  }
  .title {
    font-size: $title - 12px;

    line-height: $height-title - 8px;

    &--main {
      font-size: $title-main - 10px;
      line-height: $height-title-main - 10px;
    }

    &--sub {
      font-size: $title-sub - 3px;
      line-height: $height-title-sub - 5px;
    }
  }
  .section {
    &__title {
      top: -10px;
    }
  }
  .about {
    padding: 100px 0;
    &__text {
      padding-top: 25px;

      &--small {
        width: 555px / 900px * 100%;
        padding-top: 10px;
        padding-bottom: 20px;
      }
    }
  }

  .rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px / 1920px * 100%;
  }
  .article__title {
    font-size: $title;
  }
}

@media (max-width: 575.98px) {
  .header {
    &__container {
      width: 1600px / 1920px * 100%;
      padding-top: 60px;
    }
    &__text {
      margin-bottom: 40px;
    }
  }
  .wrapper {
    width: 1500px / 1920px * 100%;
    &::after,
    &::before {
      width: 200px / 900px * 100%;
    }
  }
  .title {
    font-size: $title - 16px;

    line-height: $height-title - 9px;

    &--main {
      font-size: $title-main - 30px;
      line-height: $height-title-main - 25px;
    }

    &--sub {
      font-size: $title-sub - 5px;
      line-height: $height-title-sub - 10px;
    }
  }
  .section {
    &__title {
      top: -10px;
    }
  }
  .about {
    padding: 100px 0;
    &__text {
      padding-top: 25px;

      &--small {
        width: 555px / 900px * 100%;
        padding-top: 10px;
        padding-bottom: 20px;
      }
    }
  }

  .article__title {
    font-size: $title - 12px;
  }
  .footer {
    &__text {
      padding-top: 40px;
      padding-bottom: 35px;
    }
    &__copy {
      height: 100px;
      &-text {
        font-size: 10px;
      }
    }
  }
  .button {
    font-size: $text - 4px;
  }
}
