*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #3c3c3c;
  text-align: center;
}

.body__wrapper {
  width: 1920px;
}

.header__wrapper {
  background: url(../img/hero-bg.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
}

.header__container {
  padding-left: 150px;
  padding-right: 150px;
  width: 900px;
  margin: 0 auto;
}

.header__wrapper {
  padding: 285px 145px 115px;
}

.header__title {
  margin-top: 94px;
  margin-bottom: 54px;
}

.title--main {
  font-size: 54px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 14px;
}

.header__text {
  margin-bottom: 245px;
}

.text--main {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.9;
  color: #fff;
}

.about__wrapper {
  padding-top: 160px;
  padding-bottom: 160px;
}

.wrapper {
  padding-left: 175px;
  padding-right: 175px;
  width: 900px;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid #3c3c3c;
  border-right: 1px solid #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}

.section__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}

.wrapper::after {
  content: "";
  height: 1px;
  width: 240px;
  background-color: #3c3c3c;
  position: absolute;
  top: 0;
  right: 0;
}

.wrapper::before {
  content: "";
  height: 1px;
  width: 240px;
  background-color: #3c3c3c;
  position: absolute;
  top: 0;
  left: 0;
}

.about__text {
  padding-top: 75px;
}

.about__text--small {
  padding: 35px 70px 32px;
}

.title {
  font-size: 34px;
  color: rgb(60, 60, 60);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 7px;
}

.text {
  font-size: 16px;
  font-weight: 300;
  color: rgb(60, 60, 60);
  line-height: 1.5;
}

.service__wrapper {
  padding-top: 128px;
  padding-bottom: 109px;
  background: url(../img/services.jpg) center center no-repeat;
  background-size: cover;
}

.service__container {
  padding-top: 64px;
  padding-bottom: 33px;
}

.title--white,
.text--white {
  color: #fff;
}

.wrapper--white {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.wrapper--white::after {
  background-color: #fff;
}

.wrapper--white::before {
  background-color: #fff;
}

.info__wrapper {
  padding-top: 120px;
  padding-bottom: 115px;
}

.info__container {
  padding-top: 125px;
}

.info__content {
  margin-bottom: 96px;
  color: rgb(60, 60, 60);
}

.info-content__title {
  margin-top: 42px;
  margin-bottom: 42px;
}
.title--sub {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 4px;
}

.info-content__text {
  font-size: 14px;
  line-height: 1.9;
}

.gallery__wrapper {
  width: 1920px;
}

.gallery__article {
  position: relative;
}

.gallery__article:hover {
  opacity: 0.7;
}

.article__title {
  position: absolute;
  bottom: 42px;
  left: 47px;
  font-size: 34px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 7px;
}

.rows {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 8px;
}

.footer__wrapper {
  padding-top: 135px;
}

.footer__container {
  padding-bottom: 50px;
}

.footer__text {
  padding-top: 75px;
  padding-bottom: 45px;
}

.button {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 2px;
  background-color: #3c3c3c;
  width: 400px;
  height: 60px;
  border: none;
}

.button:hover {
  color: #3c3c3c;
  background-color: #fff;
  border: 1px solid #3c3c3c;
  cursor: pointer;
  transition: 0.2s;
}

.footer__copy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 165px;
}

.footer__copy-text {
  font-size: 14px;
  color: rgb(60, 60, 60);
  line-height: 1.2;
  margin-left: 34px;
}
